# ==============================================================================
# REMOVE THE '.template' EXTENSION FROM THIS FILE ONCE YOU ARE READY TO PUBLISH
# Do NOT commit your real .env file to GitHub!
# ==============================================================================
MODRINTH_TOKEN=your_modrinth_token_here
CURSEFORGE_TOKEN=your_curseforge_token_here
DISCORD_WEBHOOK=your_discord_webhook_url_here